{% extends 'base.html' %}
{% block content %}
<div class="d-flex flex-column w-75 mt-5 mx-auto justify-content-center"
     style="height:400px">
    <h1 class="text-light">Reset password</h1>
<form method="post" class="d-flex flex-column my-3 ">
    {% csrf_token %}
    <label class="text-light">{{ form.email.label }}</label>
    {{ form.email }}
    <input class="btn btn-dark my-1" type="submit" value="Reset">
</form>
    <p>Enter your email to reset your password</p>

    </div>
{% endblock %}