{% extends 'base.html' %}
{% block content %}
<div class="d-flex flex-column w-75 mt-5 mx-auto justify-content-center"
     style="height:400px">
    <h1 class="text-light">Change your password!</h1>
<form method="post" class="d-flex flex-column my-3 ">
    {% csrf_token %}
    <label class="text-light">{{form.new_password1.label}}</label>
    {{form.new_password1}}
    <label class="text-light">{{form.new_password2.label}}</label>
    {{form.new_password2}}
    <input class="btn btn-dark my-1" type="submit" value="Change Password">
</form>

    </div>
{% endblock %}